{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать в библиотеку!</h1>
    <p class="lead">Управляйте своими книгами и авторами легко.</p>
    <hr class="my-4">
    <p>Начните с управления своими книгами или авторами.</p>
    <a class="btn btn-primary btn-lg" href="/books" role="button">Управление книгами</a>
    <a class="btn btn-secondary btn-lg" href="/authors" role="button">Управление авторами</a>
</div>
{% endblock %}
